[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "piwigo"
url = "https://piwigo.ilikeviecher.com/ftp-upload/packages/"
verify_ssl = true

[dev-packages]
pyinstaller = {git = "https://github.com/pyinstaller/pyinstaller.git"}

[packages]
pyside2 = "==5.15.0"
openimageio = {version="==2.1.16", index="piwigo"}
numpy = "==1.18.4"
ujson = "*"
jsonpickle = "*"
lxml = "*"
pywin32 = "*"
pywinauto = "*"
pywin32-ctypes = "==0.1.2"

[requires]
python_version = "3.8"
