[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "piwigo"
url = "https://piwigo.ilikeviecher.com/ftp-upload/packages/"
verify_ssl = true

[dev-packages]
pyinstaller = {git = "https://github.com/pyinstaller/pyinstaller.git"}

[packages]
pyside2 = "==5.15.0"
numpy = "==1.18.4"
ujson = "*"
jsonpickle = "*"
lxml = "*"
openimageio = {version="*", index="piwigo"}
pywin32 = "*"
pywinauto = "*"

[requires]
python_version = "3.7"
